<div class="container my-5">
    <div class="row mb-5">
        <h1 class="fs-3" >My Cart</h1> 
    </div>
    <div class="row">
        <div class="col-md-6" *ngIf="cartList.length === 0 ">
            <p>Your cart is empty</p>
        </div>
        <div class="col-md-6" *ngIf="cartList.length!= 0 ">
            <div *ngFor="let cartItem of cartList ">
                <app-cart-item [cartItem]="cartItem" (removeItem)="removeItem($event)" ></app-cart-item> 
            </div>
        </div>
        <div class="col-md-4">
            <h4> Total : {{total}}</h4>
            <app-check-out-form (checkOut)="checkOut()"></app-check-out-form>
        </div>
    </div>
</div>