.detail{
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 

}
.border-color{
    border: 0;
    border-bottom: 5px solid #3DC1CB;
    background: #f9f9f996;
}