 <div class="card mb-3 detail  border-color" style="max-width: 540px;">
    <div class="row">
        <div class="col-md-4">
        <img src="{{cartItem.product.url}}"   height="150px">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{cartItem.product.name}} </h5>
            
            <p class="card-text"><small class="text-muted">{{cartItem.product.price}}</small></p>
            <p><b>Quantity :</b>{{cartItem.quantity}} </p>
        </div>
        </div>
    </div>
</div> 
    