 <div class="container my-5" *ngIf="product">
    <div class="row justify-content-center ">
        <div class="col-md-4 p-0 ">
            <img src="{{product.url}}" alt="" srcset=""
            class="img-style detail"
            style="object-fit: cover;"
            height="400px" 
            width="100%">
        </div>
        <div class="col-md-4 p-0  border-color detail">
            <div class="row m-5 items-align-between ">
                <h2><b>{{product.name}}</b> </h2>
                <p>{{product.description}}</p>
                <h4>{{product.price}} $</h4> 
                <input type="number" placeholder="quantity" min="1" class="
                form-control mb-4">
                <button class="btn btn-success  mb-4" (click)="addToCart()">Add to Cart</button>
                <a  class=" link" (click)="goHome()">Back to products</a>
            </div>
        </div>
    </div>
 </div>

 <div class="container my-5" *ngIf="product === undefined">
    <!-- <p></p> -->
    <div class="row mt-5"> 
        <div class="col-md-6 offset-3 ">
            <div class="row justify-content-center">
                <h1 class="text-center">Sorry, product doesn't exist</h1>
                <a routerLink="/" class="text-center my-5">Go back home</a>
            </div>
        </div>
    </div>
</div>
